.slick-list {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 0;
}
.slick-list .slick-slide {
  font-size: 30px;
  text-align: center;
  padding: 40px 20px;
  line-height: 2;
  font-weight: 700;
}
.slick-list .slick-slide:nth-child(even) {
  background-color: #ddd;
}
.slick-list .slick-slide:nth-child(odd) {
  background-color: #ccc;
}
.slick-arrow {
  z-index: 1;
  width: 40px;
  height: 40px;
}

.slick-arrow:before {
  font-size: 30px;
}
.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
}

.btn-wrap {
  text-align: center;
  width: 100%;
}
button {
  background-color: #ddd;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s;
}
button.slick-disabled {
  opacity: 0.6;
}
